[submodule "Learning-Management-System-BackEnd"]
	path = Learning-Management-System-BackEnd
	url = https://github.com/MuhammeedAlaa/Learning-Management-System-BackEnd
[submodule "MasterClass"]
	path = MasterClass
	url = https://github.com/hossamalaa69/MasterClass
