[submodule "MasterClassBackEnd"]
	path = MasterClassBackEnd
	url = https://github.com/MuhammeedAlaa/MasterClassBackEnd
[submodule "MasterClassFrontEnd"]
	path = MasterClassFrontEnd
	url = https://github.com/hossamalaa69/MasterClassFrontEnd
